
.orderReadyList {
    position: relative;
    width: 100%;
    align-content: center;
    font-size: 14vh;
    font-weight: bold;
    font-family: verdana, serif;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.contBtnOrderNr
{

}

.btnOrderNr
{
    width:20vh;
    height:15vh;
    margin: 10px 10px;

    color: black;
    border: 4px solid darkgray; /*#4CAF50; /* Green */
    border-radius: 8px;
    background-color: transparent;
}