body, * {
    margin: 0;
    padding: 0;
}
#logWrapper {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}

#logWrapper.closed {
    max-height: 30px;
}
