/*------------------------------------------------------------------
[Table of contents]

0. Body
1. Main / #main
2. Order List / #orderList
3. History Log / #history
4. Numpad / #numpad
-------------------------------------------------------------------*/

/**
 * [0. Body / #body]
 */

body:after
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content : "";
    opacity : 0.2;
    position: absolute;
    background-size: cover;
    /*background: url(hqdefault.jpg) no-repeat center center; /* TODO entfernen oder alternative mit overlay über die ganze seite*/
        z-index: -1;
}

body, html
{
    height:99%;
}

html {
    touch-action: manipulation;
}

/**
 * [1. Main / #main]
 */

#mainRow{

    border: 1px solid green;
    min-height: 100vh
}

#mainLeft
{
    margin: 0;
    padding: 0;
    /*vertical-align: top;
    /*padding: 0 5vh 0 0 !important;*/
    border: 1px solid blue;
    width: 95%;
    min-height: 100vh
}

#mainRight
{

    border:1px solid black;
}

.column{
    float: left;
    width: 20%;
}

#tblCtrl
{
    width: 100%;
    height: 100%;
    display:block;

}

#tblCtrl, #tblCtrl td
{
    /*border: 1px solid green;*/
    vertical-align: center;
    /*text-align: center;*/
    margin: 0 0;
    padding: 0 0;
}

@media (orientation:portrait) {
    #mainRight {
        display: none; /* visibility: none; */
    }
}
@media (orientation:landscape) and (max-width: 767px) {
    #mainRight{
        display: none; /* visibility: none; */
    }
}


/**
 * [2. Order List / #orderList]
 */

#orderReadyList {
    list-style: none;
    width: 100%;
    font-family: verdana, serif;
    /*-webkit-column-count: 3; /* Chrome, Safari, Opera */
    /*-moz-column-count: 3; /* Firefox
    column-count: 3;*/
    column-gap: 0;
    margin: 0;
    padding: 0;
    border: 1px solid red;
    column-width: 25em;
}
/*
@media (min-width: 20vw){
    .orderReadyList{
        column-count: 1;
    }
}

@media (min-width: 40vw){
    .orderReadyList{

        column-count: 2;
    }
}

@media (min-width: 60vw){
    .orderReadyList{
        column-count: 3;
    }
}*/

.btnOrderNr
{
    width: 20vw;
    height:14vh;
    margin: 0.5vw 0.5vh;
    color: black;
    border: 4px solid darkgray; /*#4CAF50; /* Green */
    border-radius: 8px;
    background-color: transparent;
    min-width: 200px;
    min-height: 100px;
}

.btnOrderNr b
{
    font-size: 8vh;
}

.btnOverdue
{
    border: 4px solid red ;
    background-color: LightCoral;
}

.btnWarning
{
    border: 4px solid black !important;
    background-color: #494949 !important;
    color: #fff !important;
}


/**
 * [3. History Log / #history]
 */

#historyContainer
{
    width: 100%;
    height: 26vh;
    overflow-y: scroll;
    margin: 0 0 4vh 0;
}

.historyOrderEntered
{
    color: grey;
}

.historyOrderRemoved
{
    color: darkred;
}

.historyOrderFetched
{
    color: darkgreen;
}

#history
{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100vh;
}



/**
 * [4. Numpad / #numpad]
 */
#tblRowNumPad
{
    height: 52vh;
}



#tblRowNumPad button
{
    width: 10vh;
    height: 10vh;
    font-size: 2vh;
    vertical-align: center;
    text-align: center;
    margin: 0 0;
}

.btnDoubleHeight
{
    height: 20vh !important;
}

.btnEnter
{
    margin: 1vh 0 0 0;
    width: 100% !important;
}


.tblCtrlLog td
{
    font-size: 2vh;
    text-align: left;
    vertical-align: top;
    font-family: monospace;
}



#numPadInputDisplay
{
    width: 40vh;
    font-size: 4vh;
    text-align: center;
}


#countdown {
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 0;
    margin: 15px 15px;
    height: 40px;
    width: 40px;
    text-align: center;
    z-index: 100;
    font-size: 3vh;
}