html, body {
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

#header {
    font-size: 8vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 2vw;
}

#orderListWrapper
{
    width: 100%;
    height: 100%;
}

#orderList {
    column-count: 2;
    column-gap: 5vh;
}

#orderList li {
    list-style-type: none;
    font-size: 10vw;
}

#orderList li:before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*content: '👍'; /**/
    content: '🍴'; /**/
    /*content: '👉'; /**/
    margin: 0 5px 0 -15px;
    color: green;
}

/*
wait Animation container
 */

#waitContainer {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#waitHeader{
    font-size: 7vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 2vw;
    display: table-cell;
    text-align: center;
    width: 99vw;
}

#waitAnimationContainer {
    height: 70vh;
    width: 99vw;
    align-content: center;
}

#waitAnimation {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
}

.overdueAlarm
{
    color: red;
}

