/*------------------------------------------------------------------
[Table of contents]

0. Body
1. Main / #main
2. Order List / #orderList
3. History Log / #history
4. Numpad / #numpad
-------------------------------------------------------------------*/

/**
 * [0. Body / #body]
 */

body:after
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content : "";
    opacity : 0.2;
    position: absolute;
    background-size: cover;
    /*background: url(hqdefault.jpg) no-repeat center center; /* TODO entfernen oder alternative mit overlay über die ganze seite*/
        z-index: -1;
}

body, html
{
    height:99%;
}

html {
    touch-action: manipulation;
}

/**
 * [1. Main / #main]
 */

#mainLeft
{
    margin: 0;
    padding: 0;
    /*vertical-align: top;
    /*padding: 0 5vh 0 0 !important;*/
    border: 1px solid blue;
    width: 95%;
    min-height: 100vh;
}

#mainRight
{
    width: 95%;
    min-height: 100vh;
    /*border:1px solid black;*/
}

.column{
    float: left;
    width: 20%;
}

#tblCtrl
{
    width: 100%;
    height: 100%;
    display:block;

}

#tblCtrl, #tblCtrl td
{
    /*border: 1px solid green;*/
    vertical-align: center;
    /*text-align: center;*/
    margin: 0 0;
    padding: 0 0;
}

@media (orientation:portrait) {
    #mainRight {
        display: none; /* visibility: none; */
    }
}
@media (orientation:landscape) and (max-width: 767px) {
    #mainRight{
        display: none; /* visibility: none; */
    }
}

/**
 * [3. History Log / #history]
 */

#historyContainer
{
    overflow-y: scroll;
    margin: 0 0 4vh 0;
    max-height: 95vh;
    height: 95vh;
    width: 70vw;
    font-size: 5vh;
    font-family: monospace;
}

.historyOrderEntered
{
    color: grey;
}

.historyOrderRemoved
{
    color: darkred;
}

.historyOrderFetched
{
    color: darkgreen;
}

#history
{
    list-style: none;
    margin: 0;
    padding: 0;
}



/**
 * [4. Numpad / #numpad]
 */
#tblRowNumPad
{
    height: 52vh;
}



#tblRowNumPad button
{
    width: 10vh;
    height: 10vh;
    font-size: 2vh;
    vertical-align: center;
    text-align: center;
    margin: 0 0;
}

.btnDoubleHeight
{
    height: 20vh !important;
}

.btnEnter
{
    margin: 1vh 0 0 0;
    width: 100% !important;
}


.tblCtrlLog td
{
    font-size: 2vh;
    text-align: left;
    vertical-align: top;
    font-family: monospace;
}

#numPadInputDisplay
{
    width: 40vh;
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
}
