

/******************/

#orderOutTest {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14vh;
    font-weight: bold;
    font-family: verdana, serif;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.btnOrderIdText
{
    font-size: 10vh !important;
}


@media (max-width: 500px){
    #orderOutTest{
        -webkit-columns: 1;
        -moz-columns: 1;
        column-count: 1;
    }
}
@media (min-width: 501px){
    #orderOutTest{
        -webkit-columns: 2;
        -moz-columns: 2;
        column-count: 2;
    }
}
@media (min-width: 700px){
    #orderOutTest{
        -webkit-columns: 3;
        -moz-columns: 3;
        column-count: 3;
    }
}